{% extends 'base.html' %}

{% block title %} Login {% endblock %}


{% block main %}

    {% if messages %}
    <div class="container mx-auto p-4">
    {% for message in messages %}
        <div class="p-4 mb-4 text-sm rounded-lg
        {% if message.tags == 'success' %}
            bg-green-100 text-green-700
        {% elif message.tags == 'error' %}
            bg-red-100 text-red-700
        {% elif message.tags == 'warning' %}
            bg-yellow-100 text-yellow-700
        {% elif message.tags == 'info' %}
            bg-blue-100 text-blue-700
        {% endif %}">
        {{ message }}
        </div>
    {% endfor %}
    </div>
    {% endif %}

    <div class="bg-rose-500 m-8 p-8 rounded-lg text-white shadow-lg">
        <h2 class="text-3xl text-center">Login</h2>
        <p class="text-center text-sm mt-1 text-gray-100">login to order delicious pizzas</p>
        <form action="" method="post" class="m-8">
            {% csrf_token %}
            <div class="mt-4">
                <label for="username" class="block">Username</label>
                <input type="text" name="username" class="mt-1 block w-full text-black rounded-md border-gray-400 shadow-sm focus:border-sky-500 focus:border-2">
            </div>
            <div class="mt-4">
                <label for="password" class="block">Password</label>
                <input type="password" name="password" class="mt-1 block w-full text-black rounded-md border-gray-400 shadow-sm focus:border-sky-500 focus:border-2">
            </div>
            <div class="grid place-content-center mt-10">
                <button type="submit" class="bg-amber-400 font-medium text-lg p-4 w-60 rounded-lg">Login</button>
            </div>
            <p class="mt-5">Don't have any account ? <a href="{% url 'customer_register' %}" class="text-amber-200 font-medium">Register</a></p>
        </form>
    </div>

{% endblock %}