{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %} {% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- remix icons  -->
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

		{% tailwind_css %}
	</head>

	<body class="bg-amber-100">

		<!-- navbar starts  -->
		<nav class="bg-rose-500 flex items-center justify-between h-16 px-3 md:px-20 lg:px-40 md:text-xl text-white">
			<div class="left flex">
				<a href="{% url 'home' %}"><img class="h-9" src="https://cdn-icons-png.freepik.com/256/1404/1404945.png?semt=ais_hybrid" alt=""></a>
				<a href="{% url 'home' %}"><h4 class="hidden lg:block ml-2 text-2xl font-medium">Pizzeria</h4></a>
			</div>
			<div class="middle text-base md:text-lg space-x-2 md:space-x-7">
				<a href="{% url 'home' %}">Home</a>
				<a href="{% url 'index' %}">Menu</a>
				<a href="{% url 'offers' %}">Offers</a>
			</div>
			<div class="right">
				{% if request.user.is_authenticated %}
				    <div class="flex items-center">
						<a href="{% url 'cart_view' %}" class="text-xl md:text-2xl"><i class="ri-shopping-cart-2-line"></i></a>
						<a href="{% url 'user_account' %}"><button class="ml-2 text-sm md:text-lg flex items-center border p-1 md:p-2 gap-1 border-white hover:bg-amber-400">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
							</svg>
							My Account	
						</button></a>
					</div>
				{% else %}
					<a href="{% url 'customer_register' %}"><button class="flex items-center border p-2 text-base md:text-lg border-white hover:bg-emerald-500">Order Now 
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 md:size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
						</svg>
					</button>
					</a>
				{% endif %}
			</div>
		</nav>
		<!-- navbar ends  -->

		<!-- main content starts  -->
		<main class="p-4 md:p-8 my-4">
			{% block main %}  {% endblock %}
		</main>
		<!-- main content ends   -->


		<!-- footer starts  -->
		 {% block footer %}
		<footer class="bg-rose-600 text-lg font-medium text-white p-5 md:p-10 md:pb-5 inset-0 bottom-0">
			<div class="grid grid-cols-2 flex-col lg:ms-20 gap-4">
				<div class="flex flex-col gap-2">
					<div class="md:flex items-center gap-4">
						<div><a href="{% url 'home' %}"><i class="ri-home-4-line"></i> Home</a></div>
						<div><a href="{% url 'index' %}"><i class="ri-menu-search-line"></i> Menu</a></div>
						<div><a href=""></a><i class="ri-discount-percent-line"></i> Offers</div>
					</div>
					{% if request.user.is_authenticated %}
						<div class="md:flex items-center gap-4">
							<div><a href="{% url 'cart_view' %}"><i class="ri-shopping-bag-line"></i> Cart</a></div>
							<div><a href="{% url 'user_account' %}"><i class="ri-account-circle-line"></i> Account</a></div>
						</div>
					{% endif %}
				</div>
				<div class="md:flex flex-col gap-1">
					<div>Other Links</div>
					<div class="flex items-center gap-4 text-3xl">
						<a href=""><i class="ri-github-fill"></i></a> 
						<a href=""><i class="ri-linkedin-box-fill"></i></a>
					</div>
				</div>
			</div>
			<div class="text-center mt-6 lg:mt-8">
				<i class="ri-copyright-line"></i> CopyRight 2024. All Rights Reserved.
			</div>
		</footer>
		{% endblock %}
		<!-- footer ends  -->

	</body>
</html>
